<mat-sidenav-container fullscreen style="background-color: #993636;">
    

    <mat-toolbar style="background-color: #6F2C2C;">
        <h3>Empleado</h3>

        <span class="spacer"></span>

        <button mat-button style="margin-left: auto; display: block;" (mousedown)="logout()">
            Logout
        </button>
    </mat-toolbar>


    <div class="container">
        <br>
        <h1>Listado de personajes</h1>
        <mat-divider></mat-divider>
        <br>

        <div fxLayout="row wrap"
            fxLayout.xs="column"
            fxLayoutAlign="center"
            fxLayoutGap="20px">

            <div fxFlex="20"
                fxFlex.lg="15"
                fxFlex.sm="30"
                *ngFor="let anime of animes; let i = index;"
                (mouseenter)="resaltarElemento(i)">
            
                <mat-card [@slideStatus]="status[i]">
                    <mat-card-header>
                        <mat-card-title> {{anime.nombre}} </mat-card-title>
                    </mat-card-header>
                
                    <img mat-card-image src='../../assets/animes/{{anime.img}}'>
                
                    <mat-card-content>
                        <h3>{{anime.creador}}</h3>
                    </mat-card-content>
                
                </mat-card>
                <br>
            </div>
        </div>
    </div>

</mat-sidenav-container>
